{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "rules": {
    "no-empty-source": [null],
    "string-quotes": "double",
    "function-name-case": null,
    "function-no-unknown": null,
    "selector-class-pattern": null,
    "value-keyword-case": null,
    "function-whitespace-after": null
  },
  "customSyntax": "@stylelint/postcss-css-in-js"
}
